* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #1b1b1b 80.62%, #dc930d 87.61%);
  }
  
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }
  
  .cabecalho-imagem {
    height: 72px;
  }
  
  .cabecalho-menu {
    display: flex;
    gap: 32px;
  }
  
  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    
  }
  
  .conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #131313;
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #000000;
  }
  
  .conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }
 


  
  .conteudo-principal-imagem {
    height: 430px;
  }
  
  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.4px solid #000000;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom: 16px;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3a3a60;
  }
  
  .rodape {
      padding: 32px;
      border-top: 0.4px solid #1b1b1b;
  }
  
  .rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
  }

  .busca {
    text-align: right;
   width: 30%;
   float:right;
  }


.busca input {
    height: 36px;
    padding: 12px;
    width: 400px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
    margin-top: 10px;
    background:transparent;
  }
  .col-100 {
    width: 100%;
    float: left;
    position: relative;
}

